<h3>{{gameTitle}} - Logs</h3>

<p><a href="{{reverse_url('admin', gameCode)}}" title="Admin panel">Back to the admin panel?</a></p>
<p>The logs of the game will be printed below.</p>

<div id="logsArea">
</div>
