<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}} - Lambdadelbot</title>
    <link rel="stylesheet" href="{{static_url('theme.css')}}">
    <link rel="icon" type="image/png" href="{{static_url('favicon.png')}}" />
    {% if page == "adminLogs" %}
      {% set streamUrl = config.webapp.url.replace("http", "ws") + reverse_url("adminGameLogsStream", gameCode) %}
      <script data-stream-url="{{streamUrl}}" data-token="{{token}}" id="stream-script" src="{{static_url('stream.js')}}" data-game="{{gameCode}}">
      </script>
    {% end if %}
  </head>

  <body>
  
    <div id="lambdacorner">
      <div id="app-metadata">
        <h1 id="title" class="lambdadelbot">Lambdadelbot</h1>
        <h2 id="version-number">v{{config.version}}</h2>
        <h3 id="version-date">Released on<br>{{config.version_date.strftime(config.webapp.version_date_format)}}</h3>
      </div>
      <div id="lambdasprite">
        {% if success_string is not None %}
          <img src="{{static_url('lambda-mad.png')}}" alt="Lambdadelta, Witch of Certainty" class="main-emote">
          <img src="{{static_url('lambda-mad-alt.png')}}" alt="Lambdadelta, Witch of Certainty" class="alt-emote">
        {% elif error_string is not None %}
          <img src="{{static_url('lambda-flustered.png')}}" alt="Lambdadelta, Witch of Certainty" class="main-emote">
          <img src="{{static_url('lambda-flustered-alt.png')}}" alt="Lambdadelta, Witch of Certainty" class="alt-emote">
        {% else %}
          <img src="{{static_url('lambda-enthusiastic.png')}}" alt="Lambdadelta, Witch of Certainty" class="main-emote">
          <img src="{{static_url('lambda-enthusiastic-alt.png')}}" alt="Lambdadelta, Witch of Certainty" class="alt-emote">
        {% end if %}
      </div>
    </div>

    <nav id="menu">
      <ul>
        {% for cur_page_name in config.webapp.menu_pages %}
          {% set page_title = config.webapp.menu_pages[cur_page_name] %}
          {% set page_url = reverse_url("content_page", cur_page_name) if cur_page_name in CONTENT_PAGE_NAMES else reverse_url(cur_page_name) %}
          {% if cur_page_name == page %}
            <li class="active">{{page_title}}</li>
          {% else %}
            <li><a href="{{page_url}}" title="{{page_title}}">{{page_title}}</a></li>
          {% end if %}
        {% end for %}
      </ul>
      <div id="menu-login">
        {% if current_user %}
          Logged in as <strong>{{current_user}}</strong> (
          <form action="/logout" method="POST" id="logoutForm">
            {% module xsrf_form_html() %}
            <button type="submit" class="logoutButton">Logout</button>
          </form>
          )
        {% else %}
          <form id="login_form" method="POST" action="/login/start/{{config.webapp.login_start_default_username}}">
            {% module xsrf_form_html() %}
            <label for="f_username_login">Reddit Username:</label>
            <input type="text" name="f_username_login" id="f_username_login" required>
            <button type="submit" class="submit_button" id="login_button" >Log in</button>
          </form>
        {% end if %}
      </div>
    </nav>

    <main id="page-{{page}}">
      {% if success_string is not None %}
        <div id="info" role="success">
          {{success_string}}
        </div>
      {% elif error_string is not None %}
        <div id="info" role="alert">
          {{error_string}}
        </div>
      {% end if %} 
      {% if page == "game_introduction" %}
        {% include "game_introduction.html" %}
      {% elif page == "game_admin" %}
        {% include "game_admin.html" %}
      {% elif page == "adminLogs" %}
        {% include "adminLogs.html" %}
      {% elif page == "home" %}
        {% include "home.html" %}
      {% elif page in CONTENT_PAGE_NAMES %}
        <h1>{{title}}</h1>
        {% raw page_content %}
      {% end if %}
    </main>


  </body>
</html>
