<h3>{{game_title}}</h3>
<p>If you are <strong>{{host_username}}</strong>, <a href="{{reverse_url('login_start', host_username)}}" title="Log in via Reddit"><strong>click here to log in</strong></a>.</p>
<br>

