{% set disabledAdminFormAttr = "" if game_instance.state == GameState.paused else "disabled" %}
<h1 class="game-title">{{game_instance.title}} admin panel</h3>

<div>

</div>

<div class="adminForm third_block_container">
  <div class="third_block">
    <h4>Private URL</h4>
    <p><a href="https://reddit.com{{privateListing}}" title="Private listing of conversations">{{privateListing}}</a></p>
    <p>As long as your game is running, you may access conversations at this private URL.</p>
    <p>Beware not to share it to your players by mistake!</p>
  </div>

  <div class="third_block">
    <h4>Public URL</h4>
    <p><a href="https://reddit.com{{publicListing}}" title="Public listing of conversations">{{publicListing}}</a></p>
    <p>After your game ends, all conversations will be made available at this public URL, which is cleaner and simpler than the private one.</p>
  </div>
  <form class="third_block adminForm disabled" method="GET" action="{{reverse_url('game', game_instance.code)}}">
    <h4>Logs</h4>
    <p>You can view the list of logs of the fetch cycle.</p>
    <p><strong>Currently disabled, this feature need to be reimplemented for Lambda version 2.</strong></p>
    {% module xsrf_form_html() %}
    <button type="submit" class="submit_button" disabled name="viewLogs" value="">View the logs</button>
  </form>

</div>

<form class="adminForm" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset>
    {% module xsrf_form_html() %}
    <h4>Control the execution of the game</h4>
    {% set gameStateStr = game_instance.state.name.upper() %}
    <p>The current state of the game is: <span class="game-state-{{game_instance.state.name}} game-state">{{gameStateStr}}!</span></p>
    {% if game_instance.state == GameState.paused %}
      <p>As long as the game is paused, Lambda will not do anything: she won't fetch any PMs from the players, nor write to the wiki. Use this time to properly configure everything. Most importantly, you need to:
      <ol>
        <li>Add and connect all the Reddit accounts of your players</li>
        <li>Define the weekly schedule of the game</li>
        <li>Choose a subreddit with a wiki in which Lambda will archive all conversations</li>
        <li>Invite Lambda to be a wiki moderator on this subreddit</li>
      </ol>
      When you're ready, just click on the button below to get the game running. The PM fetch routines will then be executed every {{config.app.globalRoutineIntervalMinutes}} minutes.
      <br><strong>Note</strong>: After you get the game running, you'll still be able to pause the game again at anytime if you need Lambda to temporarily stop fetching PMs.</p>
    {% elif game_instance.state == GameState.running %}
    <p>As long as the game is running, Lambda will fetch PMs and update the wiki. The fetch routine is executed every {{config.app.globalRoutineIntervalMinutes}} minutes during the times specified in <a href="#weeklySchedule" title="Change the weekly schedule of your game">your weekly schedule</a>.
      <br>If you need Lambda to stop working on your game temporarily, use the button below to pause the game_instance.
      <br>When your game ends, click on the other button to mark it as finished. Lambda will then execute one last fetch and update the wiki to make all conversations available at the public URL.</p>
    {% elif game_instance.state == GameState.almostFinished %}
    <p>This means that the game has finished running, but that Lambda still has to make all conversations available at the the public URL with one last fetch. Just wait for a bit, she will automatically take care of this in at most {{config.app.globalRoutineIntervalMinutes}} minutes. (If you want to do it right now, just <a href="#fetchPMs" title="Launch a manual fetch routine">launch a manual fetch routine</a>).</p>
    {% elif game_instance.state == GameState.finished %}
      <p>The game has finished running, all conversations are now available at the public URL. If you need to fetch new PMs once more, mark your game as "almost finished" with the button below and Lambda will launch one more fetch routine.</p>
    {% end if %}
    {% if game_instance.state != GameState.paused %}
      <p class="game-state-{{GameState.paused.name}}">Note: You will need to <strong>pause the game</strong> first if you want to edit any settings (weekly schedule, players, subreddit, etc).</p>
    {% end if %}
    {% if game_instance.state == GameState.paused %}
      <button type="submit" class="submit_button" name="state" value="{{GameState.running.value}}">Start running the game</button>
    {% elif game_instance.state == GameState.running %}
      <button type="submit" class="submit_button" class="sisterButton" name="state" value="{{GameState.paused.value}}">Pause the game</button>
      <button type="submit" class="submit_button" class="sisterButton" name="state" value="{{GameState.almostFinished.value}}">Mark the game as finished</button>
    {% elif game_instance.state == GameState.almostFinished %}
      <button type="submit" class="submit_button" class="sisterButton" name="state" value="{{GameState.running.value}}">Start running the game again</button>
    {% elif game_instance.state == GameState.finished %}
      <button type="submit" class="submit_button" name="state" value="{{GameState.almostFinished.value}}">Mark the game as almost finished: launch one more fetch routine</button>
    {% end if %}
    <input type="hidden" name="f_form_name" value="update_game_state">
  </fieldset>
</form>

<form class="adminForm" id="fetchPMs" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset>
    {% module xsrf_form_html() %}
    <h4>Launch a game cycle now (fetch PMs)</h4>
    <p>Launches a game cycle to fetch PMs right now. It will be ignored if Lambda is already fetching PMs at the moment.</p>

    <div>
      <input type="checkbox" name="fforce" id="fforce" value="1">
      <label for="fforce" class="fullLabel"><strong>Force mode</strong>: forces the game cycle to fetch PMs, sprt and save them regardless of the weekly schedule of the game and of the number of new messages.</label><br>
    </div>

    <div>
      <input type="checkbox" name="fwikiwrite" id="fwikiwrite" value="1">
      <label for="fwikiwrite" class="fullLabel"><strong>Force writing to wiki</strong>: forces Lambda to re-write the contents of all wiki pages to Reddit even if their contents did not change. This may require considerably more time than a regular game cycle.</label><br>
    </div>
    <input type="hidden" name="f_form_name" value="launch_manual_game_cycle">

    <input type="submit" class="submit_button" value="Fetch PMs now"/>
  </fieldset>
</form>

<form class="adminForm" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset {{disabledAdminFormAttr}}>
    {% module xsrf_form_html() %}
    <h4>Change the title of the game</h4>
    <label for="fgame-title">Game title:</label>
    <input type="text" name="f_game_title" id="f_game_title" required value="{{game_instance.title}}" />
    <input type="hidden" name="f_form_name" id="f_form_name" value="update_game_title">
    <input type="submit" class="submit_button" value="Make this the new title of the game"/>
  </fieldset>
</form>

<form class="adminForm" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset {{disabledAdminFormAttr}}>
    {% module xsrf_form_html() %}
    <h4>Change the shortened code of the game</h4>
    <p>A unique code for this game that will be used in all the page URLs on the subreddit wiki. It must not contain any spaces or special characters, nor be too long (12 characters max).</p>
    <label for="f_gamecode_display">Shortened code:</label>
    <input type="hidden" name="f_form_name" id="f_form_name" value="update_gamecode_display">
    <input type="text" name="f_gamecode_display" id="f_gamecode_display" required value="{{game_instance.display_code}}" />
    <input type="submit" class="submit_button" value="Make this the shortened code of the game"/>
  </fieldset>
</form>

<form class="adminForm" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset {{disabledAdminFormAttr}}>
    {% module xsrf_form_html() %}
    <h4>Change the subreddit to use for the wiki archive of PMs</h4>
    <p>This is the subreddit where the collected conversations will be archived. There are three requirements:</p>
    <p>1. You need to <strong>invite /u/Lambdadelbot to be a wiki moderator</strong> of the subreddit you use.
    <br>Just being an approved wiki submitter isn't sufficient, she needs wiki mod permissions to be able to hide her wiki revisions from regular players while the game is running. Once you've submitted this form,  Lambda will automatically accept the mod invitation.
    <p>2. As the Host of this game, <strong>you need to be a mod of the subreddit</strong>. This prevents hosts from running their games on communities to which they do not belong. </p>
    <p>3. This goes without saying, but <strong>the subreddit needs to be viewable by /u/Lambdadelbot</strong>. So if you run your game in a private community, be sure to make Lambda an approved reader first!</p>
    <label for="f_subreddit_name">Subreddit name:</label>
    {% set subreddit = "" if game_instance.subreddit_name is None else game_instance.subreddit_name %}
    <input type="text" name="f_subreddit_name" id="f_subreddit_name" required value="{{subreddit}}" />
    <input type="hidden" name="f_form_name" id="f_form_name" value="update_subreddit">
    <input type="submit" class="submit_button" value="Make this the subreddit to use"/>
  </fieldset>
</form>

<form class="adminForm" id="weeklySchedule" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset {{disabledAdminFormAttr}}>
    {% module xsrf_form_html() %}
    {% set startDay, startTime = game_instance.schedule_start.asdatetuple()  %}
    {% set endDay, endTime = game_instance.schedule_end.asdatetuple()  %}
    <h4>Change the weekly schedule</h4>
    <p>Lambda will fetch PMs every {{config.app.globalRoutineIntervalMinutes}} minutes, but only when the game is actually running. Use this form to specify a weekly start time and a weekly end time. It's perfectly fine to have a start time close to the term of the week (for instance on Saturday) and an end time at the beginning of the following week (on Monday). All times must be supplied in UTC+0.</p>
    <label for="fstart">Weekly start time:</label>
    <select name="f_start_day" id="f_start_day" class="fstart time-select" required>
      {% set i = 1 %}
      {% while i <= 7 %}
        {% set weekDayStr = weekDayNumberToLiteral(i) %}
        {% set selectedStr = "selected" if i == startDay else "" %}
        <option value="{{i}}" {{selectedStr}}>{{weekDayStr}}</option>
        {% set i += 1 %}
      {% end while %}
    </select>
    <select name="f_start_time" id="f_start_time" class="fstart time-select" required>
      {% set i = 0 %}
      {% while i < 24 %}
        {% set timeStr = "0" + str(i) if i < 10 else str(i) %}
        {% set selectedStr = "selected" if i == startTime else "" %}
        <option value="{{i}}" {{selectedStr}}>{{timeStr}}:01</option>
        {% set i += 1 %}
      {% end while %}
    </select>
    <label for="fend">Weekly end time:</label>
    <select name="f_end_day" id="f_end_day" class="fend time-select" required>
      {% set i = 1 %}
      {% while i <= 7 %}
        {% set weekDayStr = weekDayNumberToLiteral(i) %}
        {% set selectedStr = "selected" if i == endDay else "" %}
        <option value="{{i}}" {{selectedStr}}>{{weekDayStr}}</option>
        {% set i += 1 %}
      {% end while %}
    </select>
    <select name="f_end_time" id="f_end_time" class="fend time-select" required>
      {% set i = 0 %}
      {% while i < 24 %}
        {% set timeStr = "0" + str(i) if i < 10 else str(i) %}
        {% set selectedStr = "selected" if i == endTime else "" %}
        <option value="{{i}}" {{selectedStr}}>{{timeStr}}:01</option>
        {% set i += 1 %}
      {% end while %}
    </select>
    <input type="hidden" name="f_form_name" id="f_form_name" value="update_schedule">
    <input type="submit" class="submit_button" value="Update the schedule of the game"/>
  </fieldset>
</form>


<div class="adminForm" action="{{reverse_url('game', game_instance.code)}}" method="POST">
  <fieldset {{disabledAdminFormAttr}}>
    {% module xsrf_form_html() %}
    <h4>Players</h4>
    <p>Please note that Lambda considers <strong>any Reddit account she must fetch PMs from to be a player</strong>.</p>
    <p>In other words, players include both playing characters and <strong>any NPCs that you may play yourself</strong> (or with somebody's help) as the host of this game. If there are such characters in your game, and if they send or receive PMs from playing characters, you should add them as players here.</p>
    <p>On the other hand, your host account (u/{{game_instance.host_username}}) is not a player, and no PMs will be fetched from it.</p>
    {% set grant_access_str = "Grant Lambda access to this player" %}


    <div id="admin_players">
      {% for username in game_instance.players %}
        <div class="admin_player">
          <h5>{{username}}</h5>

          {% if game_instance.players[username].connected %}
            <form action="{{reverse_url('game', game_instance.code)}}" method="POST">
              {% module xsrf_form_html() %}
              {% set new_active_state_str = "0" if game_instance.players[username].active else "1" %}
              {% set new_active_state_label = "Stop collecting PMs" if game_instance.players[username].active else "Start collecting PMs again" %}
              <input type="hidden" name="f_form_name" id="f_form_name" value="toggle_active_state_player">
              <input type="hidden" name="f_username" id="f_username" value="{{username}}">
              <input type="hidden" name="f_active_state" id="f_active_state" value="{{new_active_state_str}}">
              <input type="submit" class="submit_button" value="{{new_active_state_label}}"/>
            </form>
            <form action="{{reverse_url('game', game_instance.code)}}" method="POST">
              {% module xsrf_form_html() %}
              <input type="hidden" name="f_form_name" id="f_form_name" value="disconnect_player">
              <input type="hidden" name="f_username" id="f_username" value="{{username}}">
              <input type="submit" class="submit_button" value="Revoke Reddit API tokens"/>
            </form>
          {% end if %}
 
          <form action="{{reverse_url('game', game_instance.code)}}" method="POST">
            {% module xsrf_form_html() %}
            <input type="hidden" name="f_form_name" id="f_form_name" value="remove_player">
            <input type="hidden" name="f_username" id="f_username" value="{{username}}">
            <input type="submit" class="submit_button" value="Remove this player"/>
          </form>

          {% if not game_instance.players[username].connected %}
            {% set login_start_url = reverse_url('login_start', username) %}
            <form action="{{login_start_url}}" method="GET">
              <input type="submit" class="submit_button pink" value="{{grant_access_str}}">
              <div class="direct-login-url">(<a href="{{login_start_url}}" title="You can also click here">direct link</a>)</div>
            </form>
          {% end if %}

          {% if game_instance.players[username].connected %}
            <hr>
            <form action="{{reverse_url('game', game_instance.code)}}" method="POST">
              {% module xsrf_form_html() %}
              {% set new_boldened_name_str = "0" if game_instance.players[username].boldened_name else "1" %}
              {% set new_boldened_name_label = "Stop boldening the name of this player on the wiki" if game_instance.players[username].boldened_name else "Bolden the name of this player on the wiki" %}
              <input type="hidden" name="f_form_name" id="f_form_name" value="toggle_boldened_name">
              <input type="hidden" name="f_username" id="f_username" value="{{username}}">
              <input type="hidden" name="f_boldened_name" id="f_boldened_name" value="{{new_boldened_name_str}}">
              <input type="submit" class="submit_button" value="{{new_boldened_name_label}}"/>
            </form>
            <form action="{{reverse_url('game', game_instance.code)}}" class="sort-order-form" method="POST">
              {% module xsrf_form_html() %}
              {% set sort_order = game_instance.players[username].sort_order %}
              <input type="hidden" name="f_form_name" id="f_form_name" value="update_player_sort_order">
              <label for="f_sort_order" class="fullLabel">Custom sort order on the wiki: </label>
              <input type="hidden" name="f_username" id="f_username" value="{{username}}">
              <input type="number" name="f_sort_order" id="f_sort_order" value="{{sort_order}}">
              <input type="submit" class="submit_button" value="Change the sort order of this player">
            </form>
          {% end if %}
        </div>
      {% end for %}
    </div>

      {% if len(game_instance.connected_players) != len(game_instance.players) %}
        <h5>How to connect a player?</h5>
        <p>For each new player, Lambda must gain access to their account to be able to fetch PMs from them. This is done by connecting Lambda to each player account using the Reddit API.</p>
        <p>To do this, for each non-connected player:</p>
        <ol>
          <li>Log in on Reddit through their account in a different window.</li>
          <li>Come back here and click on the <strong>{{grant_access_str}}</strong> button (or on the direct link below) to authorize Lambda to access their account in that other window. You will be redirected on Reddit to do so.</li>
        </ol>
      {% end if %}
 


      {% if game_instance.connected_players %}
        <h5>Removing or disabling players</h5>
        <p>You have 3 distinct options to disable or remove a player:</p>
        <p><strong>Stop collecting PMs</strong> is the lightest option: it simply disables fetching PMs for a given player while keeping them in the player list. This may be useful if a player stopped playing but might join again later.</li>
        <p><strong>Revoke Reddit API tokens</strong> will prevent Lambda from accessing that player through the Reddit API. The player will remain in the player list <em>but</em> you will need to grant Lambda access to this player again, as you did the first time you added them. You can use this option if PMs collection keeps malfunctioning for a given player, or for privacy reasons (e.g you want to make sure an account is 100% unreachable by Lambda for a little while).</li>
        <p><strong>Remove this player</strong> is the strongest option: it revokes the Reddit API tokens <em>and</em> removes the player from the player list entirely.</li>
        <br>
        <h5>Other minor features</h5>
        <p><strong>Bolden the name of a player</strong> will use bold text to display the name of a player in the wiki homepage of a game. Useful to draw attention to important characters (e.g a host-style NPC for instance).</p>
        <p><strong>The custom sort order</strong> of a player can be used to display the names of players with <em>higher values</em> before the names of players with lower values on the wiki homepage. You can use this if you want to display NPCs before playing characters on the wiki homepage. Alphabetical sorting will still be used for players with equal sort orders.</p>
      {% end if %}

      <br>

    <form class="adminForm" id="admin_add_player" action="{{reverse_url('game', game_instance.code)}}" method="POST">
      <fieldset {{disabledAdminFormAttr}}>
        {% module xsrf_form_html() %}
        <h5>Add a new player</h5>
        <input type="hidden" name="f_form_name" id="f_form_name" value="add_player">
        <label for="f_new_player_username">Reddit username:</label>
        <input type="text" name="f_new_player_username" id="f_new_player_username" required />
        <input type="submit" class="submit_button" value="Add this player"/>
      </fieldset>
    </form>
  </fieldset>
</div>


