<div id="homepage-intro">
  {% raw home_text %}
</div>


{% set games_count = len(games) %}
<div id="homepage-action">
  {% if not is_config_ready %}
    <h4>You're almost there...</h4>
    <p>Lambdadelbot is almost set up! You just need to <a href="{{reverse_url('login_start', config.botUsername)}}" title="Log into the bot account on Reddit">log in with <strong>u/{{config.botUsername}}</strong> (the Reddit bot account)</a> to finish.</p>
  {% else %}
    {% if games_count == 0 %}
      <h4>No games are currently relying on Lambdadelbot!</h4>
      <br>
    {% else %}
      <h4>List of games:</h4>
      <div id="homepage-games-list">
        {% for game in games %}
          {% set game_state_str = game.state.name[0].upper() + game.state.name[1:] %}
          <div class="homepage-game">
            <h5>
              <a href="{{reverse_url('game', game.code)}}" title="Admin Panel for {{game.title}}">{{game.title}}</a>
            </h5>
            <p><span class="game-state-{{game.state.name}} game-state">{{game_state_str}}</span></p>
            {% if game.state == GameState.finished %}
              <p>Public archive available at <a href="https://reddit.com{{game.public_url}}">{{game.public_url}}</a>.</p>
            {% else %}
              <p>Public archive link to be disclosed when the game finishes running.</p>
            {% end if %}
          </div>
        {% end for %}
      </div>
    {% end if %}
  {% end if %}

  {% if is_any_host or is_admin %}
  <form class="adminForm" action="{{reverse_url('home')}}" method="POST">
    <fieldset>
      {% module xsrf_form_html() %}
      <h4>Create a game</h4>
      <p>You (u/<strong>{{current_user}}</strong>) will be the host of this new game, but no PMs will be fetched from your account. You will be able to add players (playing characters and any NPCs you plan to play) on the page of the game.</p>

      <p>
    <label for="f_game_title">Title of the game:</label>
    <input type="text" name="f_game_title" id="f_game_title" required>
    </p>

    {% if is_admin %}
    <p>
    <label for="f_host_username">Host of the game:</label>
    <select name="f_host_username" id="f_host_username" class="" required>
      {% for host_username_i in host_usernames %}
      <option value="{{host_username_i}}">{{host_username_i}}</option>
      {% end for %}
    </select>
    </p>
    {% else %}
    <input type="hidden" name="f_host_username" id="f_host_username" value="{{current_user}}" required>
    {% end if %}
    
    <p>
    <label for="f_gamecode_display">Shortened code of the game:</label>
    <input type="text" name="f_gamecode_display" id="f_gamecode_display" required>
    </p>

    <p>
    <label for="f_subreddit_name">Subreddit of the game:</label>
    <input type="text" name="f_subreddit_name" id="f_subreddit_name" required>
    </p>
    <input type="hidden" name="f_form_name" id="f_form_name" value="create_game">
    <input type="submit" class="submit_button" value="Create this new game">
    </fieldset>
  </form>
  {% end if %}

  {% if is_admin %}
  <form class="adminForm" action="{{reverse_url('home')}}" method="POST">
    <fieldset>
      {% module xsrf_form_html() %}
      <h4>Delete a game</h4>
      <p>
        <label for="f_gamecode">Game to delete:</label>
        <select name="f_gamecode" id="f_gamecode" required>
          {% for game in games %}
            <option value="{{game.code}}">{{game.title}}</option>
          {% end for %}
        </select>
      </p>
      <input type="hidden" name="f_form_name" id="f_form_name" value="delete_game">
      <input type="submit" class="submit_button" value="Remove this game">
    </fieldset>
  </form>
  {% end if %}

  {% if is_admin %}
  <form class="adminForm" action="{{reverse_url('home')}}" method="POST">
    <fieldset>
      {% module xsrf_form_html() %}
      <h4>Change the host of a game</h4>
      <p>
        <label for="f_gamecode">Game to change:</label>
        <select name="f_gamecode" id="f_gamecode" required>
          {% for game in games %}
            <option value="{{game.code}}">{{game.title}}</option>
          {% end for %}
        </select>
      </p>
      <p>
        <label for="f_host_username">Host to assign the game to:</label>
        <select name="f_host_username" id="f_host_username" required>
          {% for host_username_i in host_usernames %}
          <option value="{{host_username_i}}">{{host_username_i}}</option>
          {% end for %}
        </select>
      </p>
      <input type="hidden" name="f_form_name" id="f_form_name" value="update_host">
      <input type="submit" class="submit_button" value="Change the host of this game">
    </fieldset>
  </form>
  {% end if %}

  {% if is_admin %}
  <form class="adminForm" action="{{reverse_url('home')}}" method="POST">
    <fieldset>
      {% module xsrf_form_html() %}
      <h4>Add a new host</h4>
      <p>
        <label for="f_host_username">Reddit username of the new host:</label>
        <input type="text" name="f_host_username" id="f_host_username" required>
      </p>
      <input type="hidden" name="f_form_name" id="f_form_name" value="add_host">
      <input type="submit" class="submit_button" value="Add this new host">
    </fieldset>
  </form>
  {% end if %}

  {% if is_admin %}
  <form class="adminForm" action="{{reverse_url('home')}}" method="POST">
    <fieldset>
      {% module xsrf_form_html() %}
      <h4>Remove a host</h4>
      <p>Any games still hosted by the removed host will be assigned to the admin in their stead.</p>
      <p>The admin can never be removed from the hosts, though.</p>
      <p>
        <label for="f_host_username">Host to remove:</label>
        <select name="f_host_username" id="f_host_username" class="" required>
          {% for host_username_i in host_usernames %}
          {% if host_username_i != config.adminUsername %}
          <option value="{{host_username_i}}">{{host_username_i}}</option>
          {% end if %}
          {% end for %}
        </select>
      </p>
      <input type="hidden" name="f_form_name" id="f_form_name" value="remove_host">
      <input type="submit" class="submit_button" value="Remove this host">
    </fieldset>
  </form>
  {% end if %}



</div>
