@font-face{
  font-family: "Emilys Candy";
  src: url("fonts/EmilysCandy-Regular.eot?#iefix") format("embedded-opentype"),  url("fonts/EmilysCandy-Regular.woff") format("woff"), url("fonts/EmilysCandy-Regular.ttf")  format("truetype"), url("fonts/EmilysCandy-Regular.svg#EmilysCandy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html{
  width:100vw;
  height:100vh;
}
body{
  font-family: "Emilys Candy", cursive;
  width:100%;
  height:100%;
  background: url("dots.jpg") repeat;
  margin:0;
  display:grid;
  grid-template-columns:20% 80%;
  grid-template-rows: 6% auto;
}
#lambdacorner{
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
#lambdasprite{
  flex-grow:2;
  display:flex;
  align-items:flex-end;
}
#lambdasprite img{
  width:100%;
}
#lambdasprite img.main-emote{display:block;}
#lambdasprite img.alt-emote{display:none;}
#lambdasprite:hover img.main-emote{display:none;}
#lambdasprite:hover img.alt-emote{display:block;}
#app-metadata{
  padding:10% 0 0;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
#title, #version-number, #version-date{text-align:center;margin:0;}
#version-number, #version-date{color:blue;}
#version-date{font-size:0.9em;}
#title{
  font-size:2em;
}
.lambdadelbot{
  color:#c200ff;
}
main{
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  padding:1% 4% 0 4%;
  font-size:18px;
  border:10px dotted purple;
  overflow-y:auto;
  border-radius:1%;
  background: white;
}

#menu
{
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  /*margin:0 0 0 30%;*/
  top:0;
  font-size:1em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 2%;
}
#login_form{
  display:inline;
}
#menu ul{
  display:flex;
  list-style-type: none;
  margin:0;
  align-items:center;
  justify-content:space-between;
}
#menu ul li{display:block;margin:0 2em 0 0;}
#menu ul li.active{font-weight:bold;}
#menu-login{}
form#logoutForm{display:inline;}
button.logoutButton{border:none;cursor:pointer;color:blue;background:none;font-family: "Emilys Candy", cursive;margin:0;padding:0;color:#16a3e6;font-size:1em;}
button.logoutButton:hover{text-decoration:underline;}

a{text-decoration:none;color:#16a3e6;}
a:hover{text-decoration:underline;}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(226, 172, 172, 0.37);
}

.submit_button{
  background: #f2f0f0;
  padding: 6px;
  font-family: "Emilys Candy", cursive;
  border-radius: 10px;
  cursor:pointer;
}

main #info{
  margin-bottom:5px;
  font-weight:bold;
  font-size:1em;
}
main #info[role="alert"]{color:red;}
main #info[role="success"]{color:green;}

main p {margin:0 0 10px 0;}
main hr{margin:2% 0;}
main h1{font-size:1.8em;width:100%;text-align:center;}
main h2, main h3{margin:1em 0 0 0;}
main h2{margin:2% 0 0 0%;}
main h3{font-size:1.3em;}
main h4{margin:0;font-size:1.2em;}
main h5{margin:4% 0 0;font-size:1.1em;}
.admin_player h5{margin:10px auto 20px auto;text-align:center;}
main .playersList{margin-top:0;}
main .adminForm{margin-bottom:50px;}
main .adminForm.disabled{color:#555;}
main .adminForm label{width:25%;display:inline-block;}
main .adminForm label.fullLabel{width:95%;margin-bottom:8px;}
main .adminForm label[for="flevel"]{margin-left:1%;}
main .adminForm input[type="text"], main .adminForm  select{width:48%;padding:0.65%;margin-bottom:3px;font-family:"Emilys Candy", cursive;}
main .adminForm input[type="checkbox"]{margin:5px; vertical-align:top;}
main .adminForm  select{width:50%;}
main .adminForm  select.time-select{width:25%;}
main .adminForm .submit_button.pink{
  background-color:#afeded;
}
main .adminForm .submit_button{
  margin:3px auto 0 auto;
  display:block;
}
main .adminForm .submit_button[disabled]{
  cursor:initial;
}
main .adminForm input.sisterButton[type="submit"], main .adminForm button.sisterButton[type="submit"]{display:inline-block;}
main .adminForm input[type="submit"]:hover,
main .adminForm button[type="submit"]:hover,
main .adminForm .submit_button.pink:hover{background:#f7ced6;}
.third_block_container{
  display:flex;
  justify-content:space-around;
}
.third_block{
  flex-basis:30%;
  vertical-align:top;
}
.third_block h4{
  text-align:center;
}
main .sort-order-form{
  margin: 4% 0 0 0;
  text-align:center;
}

.game-state{font-weight:bold;}
.game-state-paused{color:#e28a61;}
.game-state-running{color:#6664d2;}
.game-state-almost{color:#ac36c1;}
.game-state-finished{color:#36c14e;}
#logsArea{height:100%;}
.logs{
  background-color:#dce4ff;
  font-family: "Courier New", serif;
  cursor:pointer;
  font-size:14px;
  position:relative;
  margin:0 0 20px 0;
  border:1px solid black;
}
#logs-scheduler{background-color:red;}
.logs .logMessage{width:100%;}
.logs.hidden .logMessage{display:none;}
.logs.visible .logMessage{display:block;}
.logs .logMessage.endLogMessage{color:red; font-weight:bold;}

#admin_players{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.admin_player{
  flex-basis:33%;
  margin:0 2.5% 2.5%;
  padding:0 2% 2% 2%;
  border:1px dotted blue;
}
.admin_player .direct-login-url{
  text-align:center;
  margin:1% 0 4.5%;
  font-size:0.7em;
}
#admin_add_player{
}


#page-home{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
#page-home > div{}
#homepage-intro{flex-basis:60%;padding:0 2% 0 0;}
#homepage-action{flex-basis:40%;padding:0 0 0 2%;}

#page-about h3{font-size:1em;font-style:italic;}
#homepage-games-list{
  padding:1em 0 1em 1em;
}
.homepage-game{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  border:1px dotted black;
  padding-left:1em;
}
.homepage-game p{margin:0;}
